/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


$cor-primaria: #267957;
$cor-secundaria: #0d583f;

@mixin fundo {
	background: radial-gradient(50% 50%, #267957 0%, #0d583f 100%) 0 0 no-repeat;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	user-select: none;
	@include fundo;
}

::selection {
	color: #fff;
	@include fundo;
}

.wrapper {
	background: #fff;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);

	header h2 {
		color: $cor-primaria;
		font-size: 27px;
		font-weight: 600;
		text-align: center;
	}

	form {
		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 5px;
		cursor: pointer;

		label {
			cursor: pointer;

			font-size: 16px;
			border-radius: 10px;
			transition: all 500ms;
			
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			box-shadow: 0 0 6px #00000033;
			background-color: whitesmoke;
			
			width: 80%;
			padding: 30px 0;
			color: #000000;
			margin-top: 60px;

			fill: $cor-primaria;

			&:hover, 
			&:focus {
				transition: none;
				outline: 3px solid $cor-primaria;
			}

			span {
				&.selecione_arquivo {
					color: #696969;
				}
			}
	
		}

		

		input[type='submit'] {
			outline: none;
			margin-top: 20px;
			padding: 15px 30px;
			border-radius: 10px;
			cursor: pointer;
			border: none;
			background: $cor-primaria;
			color: white;
			transition: all 500ms linear;

			&:hover {
				background: $cor-secundaria;
			}

		}
	}
}
